body {
	font-family: Verdana, Arial, Sans-Serif;
	width: 958px;
	margin: 0 auto 0 auto;
	padding: 0 0 10px 0;
	text-align: center;
	color: black;
	background-color: #cccccc;
}

h1, h2 {
	font-family: 'Trebuchet ms', Arial, Tahoma;
}

h1 {
	padding: 0.3em 0 0.2em 0;
	margin: 0;
	font-size: 2.4em;
	color: #6699cc;
}

h2 {
	padding:  0.4em 0 0 0;
	margin: 0 0 0.5em 0;
	font-size: 1.9em;
	border-bottom: 2px solid #fc9;
	color: #e60;
}

h2 span {
	font-size: 0.7em;
}

h3 {
	font-size: 1.2em;
	color: #333;
	margin: 1em 0 0.7em 0;
}

a {
	color: #006699;
}

a:hover {
	text-decoration: underline;
	color: red;
}

div.toplink {
	text-align: right;
}

div.morelink {
	text-align: right;
}

td.pad {
	height: 15px;
	padding: 0;
}

#header {
	background-color: #0e90d0;
	background: url(img/header.gif) top repeat-x;
	height: 100px;
	overflow: hidden;
}

#top {
	background: url(img/top.gif) no-repeat center bottom;
	width: 958px;
	padding: 30px 0 0 0;
	margin: 0;
}

#middle {
	background: url(img/background.gif) repeat-y center top;
	width: 900px;
	padding: 0 30px 0 30px;
	margin: 0;
}

#banner {
	padding: 0 0 20px 0;
	margin: 0;
}

#content {
	width: 900px;
	background-color: white;
	font-size: 0.8em;
}

#logo {
	padding: 30px 30px 10px 40px;
}

#brief {
	font-family: Verdana, Tahoma, Sans-serif;
	font-weight: bold;
	font-size: 0.75em;
	padding: 45px 15px 10px 0px;
	color: white;
	line-height: 1.4em;
}

#side_menu {
	width: 180px;
	margin: 30px;
	padding: 0 10px 10px 10px;
	border-right: 1px solid #e1e1e1;
	line-height: 1.3em;
}

div.menu_title {
	width: 160px;
	padding: 0px;
	margin: 0 0 0 10px;
	text-align: center;
	background: #dedfe0 url(img/menu_top.gif) no-repeat top left;
	color: black;
}

div.menu_title span {
	display: block;
	padding: 2px 15px 2px 15px;
	background-image: url(img/menu_bottom.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.menu_navi {
	margin: 0;
	padding: 10px 5px 25px 5px;
}

div.menu_navi ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.menu_navi li {
	display: block;
}

div.menu_navi li a {
	padding: 0 0 0 10px;
	color: #006699;
	display: block;
	height: 100%;
	text-decoration: none;
}

div.menu_navi li a:hover {
	padding: 0 0 0 10px;
	color: black;
	background-color: #ADFF2F;
	text-decoration: none;
}

div.menu_body {
	padding: 10px 5px 25px 5px;
}

div.menu_body a {
	text-decoration: none;
	color: #006699;
}

div.menu_body a:hover {
	text-decoration: underline;
	color: red;
}

div.menu_body ul {
	padding: 0 0 0 10px;
	margin: 0;
	list-style-image: url(img/allow.png);
}

div.menu_body li {
	padding: 0 0 1.5em 0;
	margin: 0;
}

div.menu_date {
	font-size: 0.85em;
	text-align: right;
}

#directory {
	background: url(img/dir.png) top repeat-x;
	height: 39px;
	padding: 5px 20px;
	color: #006699;
	font-size: 0.9em;
}

#info {
	background: url(img/dir.png) top repeat-x;
	height: 39px;
	text-align: right;
	padding: 5px 20px;
	color: #006699;
	font-size: 0.85em;
}

#info a {
	color: #336699;
	text-decoration: none;
}

#main {
	height: 400px;
	margin: 0;
	padding: 0 30px 50px 30px;
	line-height: 1.3;
	list-style-image: url(img/bullet.gif);
}

#main pre {
	font-size: 1.2em;
	margin: 1em 1em 1em 2em;
	border: 1px solid #c1b496;
	padding: 1em;
	background-color: #f6f5f0;
	color: black;
}

#main pre.terminal {
	margin-left: 1em;
	padding: 0.6em;
	color: white;
	background-color: #333;
	border: 3px inset #999;
}

#main table {
	font-size: 1em;
	empty-cells: show;
}

#main table tr th {
	background-color: #eee;
}

#footer {
	background: #eafaff url(img/footer.gif) repeat-x 50% 0%;
	padding: 10px;
	margin: 0;
	font-size: 0.8em;
	line-height: 2em;
	text-align: center;
	color: #333;
}

#bottom {
	background: url(img/bottom.gif) no-repeat center top;
	width: 958px;
	padding: 20px 0 0 0;
	margin: 0 0 20px 0;
}
