body {
	font-family: Verdana, Arial, Sans-Serif;
	padding: 0;
	margin: 0;
	color: black;
}

h1, h2 {
	font-family: 'Trebuchet ms', Arial, Tahoma;
}

h1 {
	padding: .3em 0 .2em 0;
	margin: 0;
	font-size: 2.4em;
	color: #6699cc;
}

h2 {
	padding:  .3em 0 0 0;
	margin: .5em 0 .5em 0;
	font-size: 1.8em;
	border-bottom: 2px solid #fc9;
	color: #e60;
}

h2 span {
	font-size: 0.7em;
}

h3 {
	font-size: 1.2em;
	color: #333;
	margin: 1em 0 0.7em 0;
}

a {
	text-decoration: none;
	color: blue;
}

div.toplink {
	display: none
}

div.morelink {
	display: none
}

td.pad {	
	display: none
}

#top {
	display: none
}

#content {
	font-size: 0.8em;
}

#header {
	display: none
}

#side_menu {
	display: none
}

#directory {
	display: none
}

#info {
	display: none
}


#info a {
	display: none
}

#main {
	height: 300px;
	margin: 0;
	padding: 10px 20px 40px 20px;
}

#main pre {
	font-size: 1.2em;
	margin: 1em 1em 1em 2em;
	border: 1px solid #c1b496;
	padding: 1em;
	background-color: #f6f5f0;
	color: #666;
}

#main table {
	font-size: 1em;
	empty-cells: show;
}

#main table tr th {
	background-color: #eee; 
}

#footer {
	padding: 10px 0 0 0;
	font-size: 0.7em;
	line-height: 2em;
	color: #999;
	text-align: center;
}

#bottom {
	display: none
}
